.ipynb_checkpoints
__pycache__/
app.db
app/__pycache__/
app/api/__pycache__/
app/auth/__pycache__/
app/errors/__pycache__/
app/main/__pycache__/
app/translations/es/LC_MESSAGES/messages.mo
logs/
migrations/__pycache__/
migrations/versions/__pycache__/
venv/